---
layout: default
title: Artur Minnullin | It's my name
---
<div class="main-info">
  <img src="/assets/my_photo.jpg" class="avatar">
  <div class="socials">
    <img src="/assets/chicken.gif" class="chicken">
    <h1>Artur Minnullin</h1>
    <div class="socials-links">
      {% for social in site.social %}
        {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <sup class="post-date">{{ post.date | date: "%d %B" }}</sup>
    </li>
  {% endfor %}
</ul>
