---
layout: default
title: Artur Minnullin | That's my name
---
<div class="main-info">
  <img src="/assets/my_photo.jpg" class="avatar">
  <div class="socials">
    <img src="/assets/chicken.gif" class="chicken">
    <h1>Artur Minnullin</h1>
    <div class="socials-links">
      {% for social in site.social %}
        {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="main-text">
  <p>Hey, I am a web developer from Russia.</p>
  <p>I spend most of my time writing software with Ruby and JavaScript. Usually I am a very lazy person, but sometimes I share things I have learned by writing in the blog below. Check it out, it makes me a little bit happier :)</p>
  <p>The chicken above symbolizes my continuous process of searching something new.</p>
</div>
<h2 class="blog-title">Monotonous blog</h2>
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <sup class="post-date">{{ post.date | date: "%d %b %Y" }}</sup>
    </li>
  {% endfor %}
</ul>
