---
layout: default
title: Артур Миннуллин | Вот такое мое имя
---
<div class="main-info">
  <img src="/assets/my_photo.jpg" class="avatar">
  <div class="socials">
    <img src="/assets/chicken.gif" class="chicken">
    <h1>Артур Миннуллин</h1>
    <div class="socials-links">
      {% for social in site.social %}
        {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="main">
  <div class="main-text">
    <p>Приветосы, я веб разработчик из России!</p>
    <p>Почти каждый день я пишу код. Обычно на Руби и Джаваскрипте. Иногда у меня получается побороть свою лень, и я делюсь в блоге умными и не очень мыслями. Можете заценить его (пока только в английской версии) и сделать меня немного счастливее :wink:</p>
    <p>Курица сверху - это не просто глупая гифка, а символ поиска чего-то нового.</p>
  </div>
  <div class="main-language">
    <a href="/">To the Shakespeare's language</a>
  </div>
</div>
