<div class="main-info">
  <img src="/assets/my_photo.jpg" class="avatar">
  <div class="socials">
    <img src="/assets/chicken.gif" class="chicken">
    <h1>{% t "name" %}</h1>
    <div class="socials-links">
      {% for social in site.social %}
        {% if social.url %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="main">
  <div class="main-text">
    <p>{% t "description_first_part" %}</p>
    <p>{% t "description_second_part" %}</p>
    <p>{% t "description_third_part" %}</p>
  </div>
  <div class="main-language">
    {% if page.language == "en" %}
      <a href="/ru">{% t "lang" %}</a>
    {% else %}
      <a href="/">{% t "lang" %}</a>
    {% endif %}
  </div>
</div>
{% if page.language == "en" %}
  <h3 class="blog-title">{% t "blog_title" %}</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <i class="fa fa-dot-circle-o post-icon"></i>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
        <sup class="post-date">{{ post.date | date: "%d %b %Y" }}</sup>
      </li>
    {% endfor %}
  </ul>
{% endif %}
