.main-info {
  margin-bottom: 30px;

  img {
    width: 150px;
    border-radius: 150px;

    @media (max-width: $screen-s) {
      display: none;
    }
  }
}

.socials {
  float: right;

  @media (max-width: $screen-s) {
    float: none;
    text-align: center;
  }
}

.socials-links {
  text-align: center;

  a {
    padding: 0.4em 0.7em;
    border: none;
  }
}

.icon-github:hover, .icon-at:hover {
  color: #000;
}

.icon-linkedin:hover {
  color: #1B85BC;
}

.icon-vk:hover {
  color: #54769A;
}
