.post-header {
  padding-bottom: 1.75em;

  h2 {
    line-height: 1.2em;
  }

  span {
    color: $grey-color;
  }
}

.post-content {
  margin-bottom: 3em;

  ol, ul {
    padding: 1.2em 1.3em;
  }

  img {
    padding: 0.8em 3%;
    width: 94%;
  }
}

:not(pre) > code {
  line-height: .9em;
  background-color: $code-background;
  border: 1px solid $code-border-color;
  padding: 0.3em;
}
